<div class="row">
  <div class="col-sm-6"><%= content_tag :h3, t('.title', default: Document.model_name.human.pluralize.upcase), style: 'margin-top: 0;' %></div>
  <div class="col-sm-6 pull-right" style="text-align: right;"><%= link_to t('helpers.links.new'), new_document_path, class: 'btn btn-primary btn-sm' %></div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= Document.human_attribute_name :number %></th>
      <th><%= Document.human_attribute_name :text %></th>
      <th><%= Document.human_attribute_name :date %></th>
      <th><%= Document.human_attribute_name :subject_id %></th>
      <th><%= Document.human_attribute_name :company_contact_id %></th>
      <th><%= Document.human_attribute_name :responsible_id %></th>
      <th style="width: 15%;"><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= "#{document.number}/#{document.year}" %></th>
        <td><%= document.text %></th>
        <td><%= document.date.try(:strftime, "%d/%m/%Y") %></th>
        <td><%= document.subject.description%></th>
        <td><%= document.company_contact.name %></th>
        <td><%= document.responsible.name %></th>
        <td>
          <%=
            btn = link_to_show(document_path(document))
            unless document.completed?
              btn << link_to_edit(edit_document_path(document))
              btn << link_to_delete(document_path(document))
            else
              btn << link_to(content_tag(:i, nil, class:'fa fa-file'), rails_blob_path(document.file, disposition: 'attachment'), class: 'btn btn-xs btn-default')
            end
            content_tag :div, btn, class: 'btn-group', role:'group'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>