<div class="row">
  <div class="col-sm-6"><%= content_tag :h3, t('.title', default: Subject.model_name.human.pluralize.upcase), style: 'margin-top: 0;' %></div>
  <div class="col-sm-6 pull-right" style="text-align: right;"><%= link_to t('helpers.links.new'), new_subject_path, class: 'btn btn-primary btn-sm' %></div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= Subject.human_attribute_name :document_type_id %></th>
      <th><%= Subject.human_attribute_name :description %></th>
      <th><%= Subject.human_attribute_name :text %></th>
      <th style="width: 15%;"><%= t('helpers.links.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.document_type.description %></th>
        <td><%= subject.description %></th>
        <td><%= subject.text %></th>
        <td>
          <%=
            btn = link_to_show(subject_path(subject))
            btn << link_to_edit(edit_subject_path(subject))
            btn << link_to_delete(subject_path(subject))
            content_tag :div, btn, class: 'btn-group', role:'group'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>