<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%%= error_messages_for @<%= singular_table_name %> %>
<% attributes.each do |attribute| -%>
  <div class="form-group row">
    <%%= f.label :<%= attribute.name %>, class: 'col-form-label col-xs-2 col-sm-2 col-md-1 text-sm-right' %>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control', placeholder: (<%= singular_table_name.capitalize %>.human_attribute_name :<%= attribute.name %>), maxlength: 10  %>
    </div>
  </div>
<% end -%>
  <div class="form-group row">
    <div class="col-sm-10 ml-sm-auto">
      <%%= link_to_index <%= plural_table_name %>_path, class: 'btn btn-primary' %>
      <%%= f.submit nil, class: 'btn btn-success', data: { disable_with: disable_with } %>
    </div>
  </div>
<%% end %>
