<div class="row">
  <div class="col-sm-6"><%%= content_tag :h3, t('.title', default: <%= singular_table_name.capitalize %>.model_name.human.pluralize.upcase), style: 'margin-top: 0;' %></div>
  <div class="col-sm-6 pull-right" style="text-align: right;"><%%= link_to t('helpers.links.new'), new_<%= singular_table_name %>_path, class: 'btn btn-primary btn-sm' %></div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% attributes.each do |attribute| -%>
        <th><%%= <%= singular_table_name.capitalize %>.human_attribute_name :<%= attribute.name %> %></th>
      <% end -%>
      <th style="width: 15%;"><%%= t('helpers.links.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= singular_table_name.pluralize %>.each do |<%= singular_table_name %>| %>
      <tr>
        <% attributes.each do |attribute| -%>
          <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></th>
        <% end -%>
        <td>
          <%%=
            btn = link_to_show(<%= singular_table_name %>_path(<%= singular_table_name %>))
            btn << link_to_edit(edit_<%= singular_table_name %>_path(<%= singular_table_name %>))
            btn << link_to_delete(<%= singular_table_name %>_path(<%= singular_table_name %>))
            content_tag :div, btn, class: 'btn-group', role:'group'
          %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>