<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'DOC', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= current_class?("#{companies_path}") %>">
        <%= link_to Company.model_name.human, companies_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= current_class?("#{document_types_path}") %>">
        <%= link_to DocumentType.model_name.human, document_types_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= current_class?("#{subjects_path}") %>">
        <%= link_to Subject.model_name.human, subjects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= current_class?("#{documents_path}") %>">
        <%= link_to Document.model_name.human, documents_path, class: 'nav-link' %>
      </li>
    </ul>
    <div class="col-1">
      <%= link_to content_tag(:i, nil, class:'flag-icon flag-icon-br flag-icon-squared'), set_locale_path(locale: 'pt-BR'), { method: :post, title: t('helpers.links.countries.br'), style: 'margin-right: 10px;'} %>
      <%= link_to content_tag(:i, nil, class:'flag-icon flag-icon-us flag-icon-squared'), set_locale_path(locale: 'en'), { method: :post, title: t('helpers.links.countries.us') } %>
    </div>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> <%= "#{current_user.email}#{session[:tipo_user].blank? ? '' : "(#{session[:tipo_user].upcase})"}" %><b class="caret"></b></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to(" #{t('helpers.links.logout')}", destroy_user_session_path, method: :delete, class: 'dropdown-item fa fa-user') %>
          </div>
        </li>
      </ul>
    </span>
  </div>
</nav>