<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div id="sidebar-wrapper">
      <ul class="sidebar-menu">
        <li class="treeview ">
          <li class="<%= current_class?("#{companies_path}") %>">
            <%= link_to companies_path do %>
              <i class="fa fa-institution"></i><span><%= Company.model_name.human %></span>
            <% end %>
          </li>

          <li class="<%= current_class?("#{document_types_path}") %>">
            <%= link_to document_types_path do %>
              <i class="fa fa-list"></i><span><%= DocumentType.model_name.human %></span>
            <% end %>
          </li>
        </li>
      </ul>
    </div>
  </section>
</aside>