<!DOCTYPE html>
<html>
  <head>
    <title>Document Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/menu_top' %>
    <div class="container-fluid">
      <!-- Sidebar -->
      <%#= render 'layouts/sidebar_menu'%>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <%= flash_messages if user_signed_in? %>
          <%= render partial: 'layouts/breadcrumb' %>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Your Page Content Here -->
          <%= yield %>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    </div>
  </body>
</html>